<div id="postmenucontainer">
    <a class="button" href="/edit/{{id}}">edit post</a>
    <a class="button" href="/destroy/{{id}}">destroy post</a>
    <a class="button" href="/">back to the main page</a>
</div>